<div class="site-generator">
			<div class="inner">
				<p>© Copyright 2013 Cookr!. All Rights Reserved.</p>
				<div class="social">
					<ul>
          				<li><a href="#"><img src="<%= image_path 'icon-rss.png' %>" /></a></li>
          				<li><a href="#"><img src="<%= image_path 'icon-facebook.png' %>" /></a></li>
          				<li><a href="#"><img src="<%= image_path 'icon-twitter.png' %>" /></a></li>
          				<li><a href="#"><img src="<%= image_path 'icon-dribbble.png' %>" /></a></li>
          				<li><a href="#"><img src="<%= image_path 'icon-pinterest.png' %>" /></a></li>
          				<li><a href="#">
          					<img src="<%= image_path 'icon-linkedin.png' %>" /></a></li>
        			</ul>
				</div>
			</div>
		</div>